head{
    background-color: black;
}


h1{
    color: lightpink;
    text-align: center;
    background-color: slategray;
}


li{
    columns: 3;
    float: right;
    text-align: right;
    font-size: larger;
    margin-right: 20px;
    display: inline;
    background-color: slategray;
    font-family: 'Times New Roman', Times, serif; 

}

body{
    background-color: slategray;
    text-align:center;
    
}


h2{
    background-color: slategray;
}


footer{
    text-align: center;
}

div{
    align-content: center;
    width: 800px; 
}


















