p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: wheat;
}

h2{
    color: lightpink;
    text-align: center;
}

body{
    text-align: center;
    background-color: blanchedalmond;
}


ul{
    text-align: left;
    color: lightsalmon; 
}

li{
    text-align: left;
    font-size: x-large;
}







